@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial,helvetica;
  color: #333;
  color: rgba(0,0,0,0.5);
  font-family: 'Josefin Sans', sans-serif;
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1 {
  font-size: 8em;
}
h2 {
  font-size: 6em;
}
h3 {
  font-size: 4em;
}
p {
  font-size: 2em;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section{
  text-align: center;
}

/* Header Nav Bar */
#header {
    position: fixed;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    color: #f2f2f2;
    top: 0px;
    opacity: 1;
    border: none;
}

#header.transition {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header.transition.show {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

#menu {
  font-size: 1.5em;
}

/* Section images and coloring */
#home-page {
  background: url(../images/home_screen/stock_salad.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#home-page h1 {
  color: #FF9524;
}

#home-page h3 {
  color: #09BFAF;
}

#cover {
  background-color: rgba(225,225,225,0.9);
  width: 100%;
}

#what-page {
  background-color: #F2F2F2;
}

#how-page {
  background-color: #09BFAF;
}

#how-page h1 {
  color: #FFFFFF;
}

.cook {
  font-size: 1.1em;
  padding-right: 1%;
  padding-left: 1%;
}

.diner {
  font-size: 1.1em;
  padding-right: 1%;
  padding-left: 1%;
}

#why-page {
  background-color: #F2F2F2;
}

#sign-up-page {
  background-color: #09BFAF;
}

#about-team-page {
  background-color: #F2F2F2;
}